<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Library Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Library Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        {% if request.user.is_authenticated %}
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{{request.user.username}}</h5>
        </div>
        <div class="offcanvas-header">
            <a class="nav-link active" aria-current="page" href="/library/dashboard">{{ lib_name }}</a>
        </div>
        {% endif %}
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <div class="offcanvas-header">
              <a class="nav-link active" aria-current="page" href="{% url 'library:visitor' %}">Visitor Page</a>
            </div>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'library:lib_logout' %}">Library Logout</a>
            </li>
            {% else %}
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'library:lib_login' %}">Library Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'library:lib_register' %}">Library Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>