{% extends 'layout.html' %}

{% block body %}
<h3>Visitor Page</h3>
<hr>
<p><small>Note:You can write all sides so you can find the book with all informations.</small></p>
<form class="d-flex">
    {% csrf_token %}
    <input type="text" name = "key_lib" class="input-sm" maxlength="64" placeholder="Search by library name">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
<br>
<form class="d-flex">
    {% csrf_token %}
    <input type="text" name = "key_city" class="input-sm" maxlength="64" placeholder="Search by city name">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
<br>
{% if libraries %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Library Name</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
      {% for library in libraries %}
      <tbody>
        <tr>
            <td><a href="/library/library/{{library.id}}">{{library.lib_name}}</a></td>
            <td>{{library.lib_city}}</td>
        </tr>
      </tbody>
      {% endfor %}
{% else %}
<div class="alert alert-danger">
    Library Could Not Found
</div>
{% endif %}
{% endblock body %}